.element__image {
  width: 200px;
  min-width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

@media screen and (max-width: 428px) {
  .element__image {
    width: 100%;
    height: auto;
  }
}