.element {
  max-width: 200px;
  /* max-height: 361px; */
  /* background: #FFFFFF;
  border-radius: 10px; */
  overflow: hidden;
  position: relative;
}


@media screen and (max-width: 428px) {
  .element {
    max-width: inherit;
    /* max-height: 100%; */
  }
}

.anim-appear {
  opacity: 0.01;
}
 
.anim-appear.anim-appear-active{
  opacity: 2;
  transition: opacity 5s ease-in;
}