.header__menu {
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0px;
    padding-top: 10px;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    opacity: 1;
    padding-inline-start: 0;
}

@media screen and (max-width: 500px) {
    .header__menu {
        display: block;
    }
  }

  @media screen and (max-width: 320px) {
    .header__menu {
        padding-top: 0;
    }
  }  